<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackswan.contohbutton">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".EdittextActivity" />
        <activity android:name=".AmbilDataDaristring" />
        <activity android:name=".ContohCheckBox" />
        <activity android:name=".ContohRadioButton" />
        <activity android:name=".ContohToogleButton" />
        <activity android:name=".ContohRatingBar" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".ContohPromtDialog" />
        <activity android:name=".AlertDialog3" />
        <activity android:name=".ContohPopUpActivity" />
        <activity android:name=".ContohLinearLayout" />
        <activity android:name=".ContohRelativeLayout" />
        <activity android:name=".ContohScrollView" />
        <activity android:name=".ContohTableLayout" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".ListMobileActivity" />
        <activity android:name=".ContohWebView" />
        <activity android:name=".ContohListBuah" />
        <activity android:name=".ContohAnalogClock" />
        <activity android:name=".ContohDataPicker" />
        <activity android:name=".ContohPassword" />
        <activity android:name=".ContohProgressbar" />
        <activity android:name=".ContohSeekBar" />
        <activity android:name=".ContohTimePicker" />
        <activity android:name=".ContohToast" />
        <activity android:name=".ContohCustomList" />
        <activity android:name=".GridViewActivity">
        </activity>
        <activity android:name=".CustomGridView" >

        </activity>
        <activity android:name=".DetailGridView"></activity>
    </application>

</manifest>